<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>AI Resume Analyzer</h1>
    <p style="text-align:center;">Check how well your resume matches a job description</p>

    <form method="POST" enctype="multipart/form-data">
        <label>Upload Resume (PDF)</label>
        <input type="file" name="resume" required>

        <label>Job Description</label>
        <textarea name="jd" rows="7" required></textarea>

        <button type="submit">Analyze Resume</button>
    </form>
</div>

</body>
</html>
